In [1]:
# Project 1 Team 3

import matplotlib.pyplot as plt
import pandas as pd
import os

archive_path = "archive/MoviesOnStreamingPlatforms.csv"
ticket_sales_path = "TicketSales/AnnualTicketSales.csv"
gross_path = "TicketSales/HighestGrossers.csv"
creative_types_path = "TicketSales/PopularCreativeTypes.csv"
top_distributors_path = "TicketSales/TopDistributors.csv"
top_genres_path = "TicketSales/TopGenres.csv"
top_gross_ratings_path = "TicketSales/TopGrossingRatings.csv"
top_gross_source_path = "TicketSales/TopGrossingSources.csv"
top_production_path = "TicketSales/TopProductionMethods.csv"
subscriber_count_path = "subscription/svod-subscriber-count.csv"
ticket_sold_path = "subscription/tickets-sold-at-box-offices.csv"
subscription_price_path = "subscription/svod-services-monthly-subscription-price.csv"
user_share_path = "subscription/svod-service-user-shares.csv"
hulu_subscribers = "subscription/hulus-paying-subscribers.csv"
disney_subscribers = "subscription/disney-subscribers-count.csv"
home_vs_theater_path = "subscription/adults-who-preferred-to-watch-films-in-a-theater-or-at-home.csv"
netflix_subscribers = "subscription/statistic_id250937_quarterly-netflix-paid-streaming-subscribers-in-the-us-and-canada-2013-2023.csv"


df_archive = pd.read_csv(archive_path)
df_ticket_sales = pd.read_csv(ticket_sales_path)
df_gross = pd.read_csv(gross_path)
df_creative_types = pd.read_csv(creative_types_path)
df_top_distributors = pd.read_csv(top_distributors_path)
df_genres = pd.read_csv(top_genres_path)
df_ratings = pd.read_csv(top_gross_ratings_path)
df_source = pd.read_csv(top_gross_source_path)
df_production = pd.read_csv(top_production_path)
df_sub_count = pd.read_csv(subscriber_count_path)
df_ticket_sold = pd.read_csv(ticket_sold_path)
df_sub_price = pd.read_csv(subscription_price_path)
df_user_share = pd.read_csv(user_share_path)
df_hulu = pd.read_csv(hulu_subscribers)
df_disney = pd.read_csv(disney_subscribers)
df_home_vs_theater = pd.read_csv(home_vs_theater_path)
df_netflix = pd.read_csv(netflix_subscribers)

In [12]:
#combine netflix, hulu and disney data
#df_hulu.columns = ['col_a', 'col_b', 'col_c']
#df_disney.columns = ['col_a', 'col_b', 'col_c']
#disney_hulu_subs = pd.merge(df_hulu, df_disney, on="col_a")

In [13]:
df_hulu

                                            Unnamed: 0  Unnamed: 1
0                                                  NaN         NaN
1    Number of Hulu's paying subscribers in the U.S...         NaN
2    Number of Hulu's paying subscribers in the Uni...         NaN
3                                                  NaN         NaN
4                                              Q4 2010         0.3
..                                                 ...         ...
994                                                NaN         NaN
995                                                NaN         NaN
996                                                NaN         NaN
997                                                NaN         NaN
998                                                NaN         NaN

[999 rows x 2 columns]