In [1]:
# Project 1 Team 3

import matplotlib.pyplot as plt
import pandas as pd
import os

archive_path = "archive/MoviesOnStreamingPlatforms.csv"
ticket_sales_path = "TicketSales/AnnualTicketSales.csv"
gross_path = "TicketSales/HighestGrossers.csv"
creative_types_path = "TicketSales/PopularCreativeTypes.csv"
top_distributors_path = "TicketSales/TopDistributors.csv"
top_genres_path = "TicketSales/TopGenres.csv"
top_gross_ratings_path = "TicketSales/TopGrossingRatings.csv"
top_gross_source_path = "TicketSales/TopGrossingSources.csv"
top_production_path = "TicketSales/TopProductionMethods.csv"
subscriber_count_path = "subscription/svod-subscriber-count.csv"
ticket_sold_path = "subscription/tickets-sold-at-box-offices.csv"
subscription_price_path = "subscription/svod-services-monthly-subscription-price.csv"
user_share_path = "subscription/svod-service-user-shares.csv"
hulu_subscribers = "subscription/hulus-paying-subscribers.csv"
disney_subscribers = "subscription/disney-subscribers-count.csv"
home_vs_theater_path = "subscription/adults-who-preferred-to-watch-films-in-a-theater-or-at-home.csv"
netflix_subscribers = "subscription/statistic_id250937_quarterly-netflix-paid-streaming-subscribers-in-the-us-and-canada-2013-2023.csv"


df_archive = pd.read_csv(archive_path)
df_ticket_sales = pd.read_csv(ticket_sales_path)
df_gross = pd.read_csv(gross_path)
df_creative_types = pd.read_csv(creative_types_path)
df_top_distributors = pd.read_csv(top_distributors_path)
df_genres = pd.read_csv(top_genres_path)
df_ratings = pd.read_csv(top_gross_ratings_path)
df_source = pd.read_csv(top_gross_source_path)
df_production = pd.read_csv(top_production_path)
df_sub_count = pd.read_csv(subscriber_count_path)
df_ticket_sold = pd.read_csv(ticket_sold_path)
df_sub_price = pd.read_csv(subscription_price_path)
df_user_share = pd.read_csv(user_share_path)
df_hulu = pd.read_csv(hulu_subscribers)
df_disney = pd.read_csv(disney_subscribers)
df_home_vs_theater = pd.read_csv(home_vs_theater_path)
df_netflix = pd.read_csv(netflix_subscribers)

In [2]:
#combine netflix, hulu and disney data
#df_hulu.columns = ['col_a', 'col_b', 'col_c']
#df_disney.columns = ['col_a', 'col_b', 'col_c']
#disney_hulu_subs = pd.merge(df_hulu, df_disney, on="col_a")

In [3]:
df_hulu

   Quarter  Year  Subs
0       Q4  2010   0.3
1       Q1  2011   0.5
2       Q2  2011   0.9
3       Q3  2011   1.2
4       Q4  2011   1.5
5       Q1  2012   2.0
6       Q2  2012   NaN
7       Q3  2012   NaN
8       Q4  2012   3.0
9       Q1  2013   4.0
10      Q2  2013   NaN
11      Q3  2013   NaN
12      Q4  2013   5.0
13      Q1  2014   NaN
14      Q2  2014   6.0
15      Q2  2015   9.0
16      Q2  2016  12.0
17      Q4  2017  17.0
18      Q2  2018  20.0
19      Q3  2018   NaN
20      Q1  2019  22.8
21      Q2  2019  25.2
22      Q3  2019  27.9
23      Q4  2019  28.5
24      Q1  2020  30.4
25      Q2  2020  32.1
26      Q3  2020  35.5
27      Q4  2020  36.6
28      Q1  2021  39.4
29      Q2  2021  41.6
30      Q3  2021  42.8
31      Q4  2021  43.8
32      Q1  2022  45.3
33      Q2  2022  45.6
34      Q3  2022  46.2
35      Q4  2022  47.2
36      Q1  2023  48.0
37      Q2  2023  48.2

In [4]:
df_disney

   Quarter  Year   Subs
0       Q1  2020   26.5
1       Q2  2020   33.5
2       Q3  2020  222.5
3       Q4  2020   73.7
4       Q1  2021   94.9
5       Q2  2021  103.6
6       Q3  2021  116.0
7       Q4  2021  118.1
8       Q1  2022  129.8
9       Q2  2022  137.7
10      Q3  2022  152.1
11      Q4  2022  164.2
12      Q1  2023  161.8
13      Q2  2023  157.8

In [5]:
df_netflix

   Quarter  Year   Subs
0       Q1  2013  27.91
1       Q2  2013  28.62
2       Q3  2013  29.93
3       Q4  2013  31.71
4       Q1  2014  34.38
5       Q2  2014  35.09
6       Q3  2014  36.27
7       Q4  2014  37.70
8       Q1  2015  40.32
9       Q2  2015  41.06
10      Q3  2015  42.07
11      Q4  2015  43.40
12      Q1  2016  45.71
13      Q2  2016  46.00
14      Q3  2016  46.48
15      Q4  2016  47.91
16      Q1  2017  54.58
17      Q2  2017  55.62
18      Q3  2017  56.78
19      Q4  2017  58.42
20      Q1  2018  60.91
21      Q2  2018  61.87
22      Q3  2018  63.01
23      Q4  2018  64.76
24      Q1  2019  66.63
25      Q2  2019  66.50
26      Q3  2019  67.11
27      Q4  2019  67.66
28      Q1  2020  69.97
29      Q2  2020  72.90
30      Q3  2020  73.08
31      Q4  2020  73.94
32      Q1  2021  74.38
33      Q2  2021  73.95
34      Q3  2021  74.02
35      Q4  2021  75.22
36      Q1  2022  74.58
37      Q2  2022  73.28
38      Q3  2022  73.39
39      Q4  2022  74.30
40      Q1  2023  74.40

In [ ]:
# Merge Hulu, Disney, and Netflix Subs

In [32]:
left = pd.read_csv(hulu_subscribers)
right = pd.read_csv(disney_subscribers)
right2 = pd.read_csv(netflix_subscribers)


result = pd.merge(left, right, on=["Quarter", "Year", "Subs"], how="outer")

final_result = pd.merge(result, right2, on=["Quarter", "Year", "Subs"], how="outer")

In [34]:
print(final_result)

   Quarter  Year   Subs
0       Q4  2010   0.30
1       Q1  2011   0.50
2       Q2  2011   0.90
3       Q3  2011   1.20
4       Q4  2011   1.50
..     ...   ...    ...
88      Q1  2022  74.58
89      Q2  2022  73.28
90      Q3  2022  73.39
91      Q4  2022  74.30
92      Q1  2023  74.40

[93 rows x 3 columns]